<h1><b>NDA</b>: Generate for vendor.</h1>
<hr />
<p>Following ({{files.length}}) vendors are ready, select to generate NDA and deliver for signature:</p>
<form method="POST">
    <ul>
        {{#each files }}
            <li><input type="checkbox" name="vendor" value="{{this}}" id="file-{{@index}}" /> <label for="file-{{@index}}">{{this}}</label></li>
        {{/each}}
    </ul>
    <input type="submit" value="Create NDA" />
</form>

<style>
    ul li {
        list-style: none;
    }
</style>
